<div class="row justify-content-center py-4">
    <div class="col-lg-4 text-start">
        <form (ngSubmit)="onSearchTermChange(searchTerm)">
            <label for="search" class="form-label">Buscar carta</label>
            <div class="input-group mb-3">
                <input type="search" name="search" id="search" [(ngModel)]="searchTerm" class="form-control" placeholder="Busque por nome e aperte Enter" aria-describedby="search card">
                <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4">
        @if (selectedCard()) {
        <div class="card">
            <img [src]="selectedCard()?.image" [alt]="selectedCard()?.name || 'Carta sem nome' " class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ selectedCard()?.name }}</h5>
                <p class="card-text mb-0">{{ selectedCard()?.oracle_text }}</p>
            </div>
        </div>
        } 
        @if (error()) {
            <p class="text-danger"><i>{{ error() }}</i></p>
        }
        
        @if (isLoading()) {
            <p class="text-muted">Procurando carta...</p>
        }
    </div>
</div>

